<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, intial-scale=1.0">
    <title>Go Nusa trips</title>
    <link rel="icon" type="image/png" href="favicon.ico">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body class="has-navbar-fixed-top">
    <div id="app" class="container">
        <nav class="navbar is-fixed-top container is-transparent" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="#">
                    <img class="my-logo start is-fullwidth" src="../img/logo2.svg" width="112" height="28">
                </a>
                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-end">
                    <a class="navbar-item has-text-white" href="/">
                        Home
                    </a>
                    <a class="navbar-item has-text-white" href="/explore">
                        Explore
                    </a>
                    <a class="navbar-item has-text-white" href="/aboutus">
                        About Us
                    </a>
                    <a class="navbar-item has-text-white" href="#footer">
                        Contact Us
                    </a>
                    <a class="navbar-item has-text-white">
                        FAQ
                    </a>
                    <a class="navbar-item has-text-white">
                        <strong>Sign up</strong>
                    </a>
                    <a class="navbar-item has-text-white">
                        Log in
                    </a>
                </div>
            </div>
        </nav>
        <section class="section  is-fullheight">
            <div class="container">
                <h1>WELCOME TO BALI</h1>
                <h3>BALI TOUR OPERATORS | BALI TOUR PACKAGES | BALI DAY TOURS SERVICE | PRIVATE BALI TOUR DRIVER AND GUIDE</h3>
                <p>
                    Thank You very much for your precious time to open our website Wings Bali Tour and your desire to obtain information about Bali Tourism Places of Interest and Sightseeing Tour Packages in the islands of paradise. Wings Bali Tour is a Tour Operators in Bali islands by offer wide range variety of Bali Tour Packages for your holiday in this beautiful islands.
                    Through Bali Tour website we would like to try to present the general of idea Bali tourism and its beauty. The availability of website Wings Bali Tour will make it possible for the reader to find information most needed by visitor who wants to see, get experience and to choose whatever to suit their need and expectations best. Hopefully every visitor coming to Bali could enjoy his holiday easier and more conveniently. We believe, after you come to Bali, then explore its country side and get in touch with the local people you will experience and enjoy much more things than what’s written in this website. With plenty of hopes we want to makes your holiday in Bali is unforgettable moment by offer the best from the best Bali Day Tours Service with affordable price.
                    Experience the fun and excitement of Bali Day Tours Service with Wings Bali Tour, Cheap Bali Tour price doesn’t guarantee you will have good service during your journey. Bali Tour Price we offer is commensurate with the excellent tour service provided, choose the best Bali Day Tour Service and make your holiday memorable one.
                    Nevertheless, please do contact us for further request or inquiry for your need, we will be happy to assist you with our promises. Any kind of feedback are welcome to make Wings Bali Tour getting better. Last but least, we wish you all the very best and have a pleasant holiday in Bali.
                </p>
            </div>
        </section>
        <footer id="footer" class="footer is-fullheight">
            <div class="content has-text-centered">
                <p>
                    <strong>Bulma</strong> by <a href="https://jgthms.com">Jeremy Thomas</a>. The source code is licensed
                    <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
                    is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
                </p>
            </div>
            <form-component></form-component>
        </footer>
    </div>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/http-vue-loader"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.2/p5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"></script>
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-app.js"></script>
    <!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-analytics.js"></script>
</body>

</html>