<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top is-fullheight">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, intial-scale=1.0">
    <title>Go Nusa trips</title>
    <link rel="icon" type="image/png" href="favicon.ico">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>
    <div id="app">
        <nav class="navbar is-fixed-top has-background-grey-darker" role="navigation" aria-label="main navigation">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item" href="/">
                        <img class="my-logo start is-fullwidth" src="../img/logo2.svg" width="112" height="28">
                    </a>
                    <a role="button" class="navbar-burger burger" data-target="navbarMenu" aria-label="menu" aria-expanded="false">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </a>
                </div>
                <div id="navbarMenu" class="navbar-menu has-background-grey-darker">
                    <div class="navbar-end">
                        <a class="navbar-item has-text-white" href="/">
                            Home
                        </a>
                        <a class="navbar-item has-text-white" href="#offers">
                            Offers
                        </a>
                        <a class="navbar-item has-text-white" href="/aboutus">
                            About Us
                        </a>
                        <a class="navbar-item has-text-white" href="#footer">
                            Contact Us
                        </a>
                        <a class="navbar-item has-text-white">
                            FAQ
                        </a>
                        <a class="navbar-item has-text-white">
                            <strong>Sign up</strong>
                        </a>
                        <a class="navbar-item has-text-white">
                            <strong>Log in</strong>
                        </a>
                    </div>
                </div>
            </div>
        </nav>
        <section class="hero is-fullheight has-background-black-ter">
            <div class="hero-body">
                <div class="container">
                    <h1 class="is-size-1">
                        <strong>Go Nusa</strong>
                    </h1>
                    <div class="is-divider" data-content="OR"></div>
                    <h1 class="subtitle is-size-1">
                        We plan, You pack!
                    </h1>
                    <!-- <a class="button is-medium is-rounded has-text-warning" href="#main-content">
                        <span class="icon is-small is-size-7">
                            <i class="fas fa-plane"></i>
                        </span>
                        <span class="is-size-6">BOOK NOW</span>
                    </a> -->
                    <button class="button is-rounded">
                        <span class="icon is-small">
                            <i class="fas fa-plane"></i>
                        </span>
                        <span>Book Now</span>
                    </button>
                </div>
            </div>
        </section>
        <section class="hero has-background-warning" id="main-content">
            <div class="hero-body">
                <div class="container">
                    <h1 class="is-size-1 has-text-centered">
                        <strong>Activities</strong>
                    </h1>
                    <activities-component offer="NO"></activities-component>
                </div>
            </div>
        </section>
        <section class="hero" id="offers">
            <div class="hero-body">
                <div class="container">
                    <h1 class="is-size-1 has-text-centered">
                        <strong>Offers</strong>
                    </h1>
                    <activities-component offer="YES"></activities-component>
                </div>
            </div>
        </section>
        <section class="hero has-background-success is-fullheight">
            <div class="hero-body">
                <div class="container">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, provident consequatur rerum. Alias similique non dolor debitis voluptas sint tempore quis, delectus totam, deserunt et expedita id magni explicabo dolore, blanditiis soluta placeat accusantium, voluptate reiciendis esse earum dolores ipsam sed fuga. Dolores, perspiciatis consequatur. Ab vel ipsa iusto expedita ad ea animi facere ipsam accusamus optio perspiciatis est quae quisquam accusantium tempore tenetur
                </div>
            </div>
        </section>
        <section class="section is-fullheight">
            <div class="container">
                <div class="columns">
                    <h1>Our Happy Clients</h1>
                    <testimonial-component></testimonial-component>
                </div>
            </div>
        </section>
        <section class="hero is-fullheight header-image">
            <div class="hero-body">
                <div class="container">
                    <div class="columns">
                        <form-component></form-component>
                    </div>
                </div>
            </div>
        </section>
        <footer id="footer">
            <div class="has-background-light">
                <div class="container">
                    <div class="columns is-mobile">
                        <div class="column is-4-mobile">
                            Contact Us
                            <div class="columns">
                                <div class="column">
                                    <div class="level is-mobile">
                                        <div class="level-item">
                                            <div class="level-left padding-rb">
                                                <span class="icon">
                                                    <i class="fas fa-fire"></i>
                                                </span>
                                            </div>
                                            <div class="level-right">
                                                <h1 class="is-size-7">
                                                    <strong>CALL US</strong> <br>
                                                    <span>+91-00907890</span>
                                                </h1>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="level is-mobile">
                                        <div class="level-item">
                                            <div class="level-left padding-rb">
                                                <span class="icon">
                                                    <i class="fas fa-envelope"></i>
                                                </span>
                                            </div>
                                            <div class="level-right">
                                                <h1 class="is-size-7">
                                                    <strong>MAIL US</strong> <br>
                                                    <span>gonusatrips@gmail.com</span>
                                                </h1>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="level is-mobile">
                                        <div class="level-item">
                                            <div class="level-left padding-rb">
                                                <span class="icon">
                                                    <i class="fas fa-map-marker-alt"></i>
                                                </span>
                                            </div>
                                            <div class="level-right">
                                                <h1 class="is-size-7">
                                                    <strong>OUR LOCATIONS</strong> <br>
                                                    <span>
                                                        5689 Extra Rd. #123 <br>
                                                        San Franciscos <br>
                                                        Main Street
                                                    </span>
                                                </h1>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column is-auto-mobile is-offset-2-mobile">
                            <a href="#">
                                <span class="has-text-grey-dark is-size-7">PRIVACY POLICY</span>
                            </a>
                            <br class="is-hidden-desktop">
                            <a href="#">
                                <span class="has-text-grey-dark is-size-7">TERMS OF SERVICES</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="has-background-black">
                <div class="container">
                    <div class="columns">
                        <div class="column has-text-centered">
                            <div class="columns is-mobile">
                                <div class="column is-1-desktop is-2-mobile is-offset-2-mobile has-text-right-mobile">
                                    <a class="has-text-dark is-size-6" href="/">
                                        <span class="icon">
                                            <i class="fab fa-facebook"></i>
                                        </span>
                                    </a>
                                </div>
                                <div class="column is-1-desktop is-2-mobile">
                                    <a class="has-text-dark is-size-6" href="/">
                                        <span class="icon">
                                            <i class="fab fa-twitter"></i>
                                        </span>
                                    </a>
                                </div>
                                <div class="column is-1-desktop is-2-mobile">
                                    <a class="has-text-dark is-size-6" href="/">
                                        <span class="icon">
                                            <i class="fab fa-instagram"></i>
                                        </span>
                                    </a>
                                </div>
                                <div class="column is-1-desktop is-2-mobile has-text-left-mobile">
                                    <a class="has-text-dark is-size-6" href="/">
                                        <span class="icon">
                                            <i class="fab fa-linkedin"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="column has-text-centered">
                            <span class="is-size-7">
                                2020 © Copyright. All rights reserved.
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script type="text/javascript" src="https://unpkg.com/vue"></script>
    <script type="text/javascript" src="https://unpkg.com/http-vue-loader"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.2/p5.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"></script>
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script type="text/javascript" src="https://www.gstatic.com/firebasejs/7.6.1/firebase-app.js"></script>
    <!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-analytics.js"></script>
    <script type="text/javascript" src="../js/app.js"></script>
    <script type="text/javascript">
    (function() {
        let burger = document.querySelector('.burger');
        let navMenu = document.querySelector('#' + burger.dataset.target);
        burger.addEventListener('click', () => {
            burger.classList.toggle('is-active');
            navMenu.classList.toggle('is-active');
        });
    })();
    </script>
</body>

</html>